@import "../../styles/variable";

.wrap-pagination {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 24px;
  }

  .cover-select-amount-page {
    display: flex;
    align-items: center;
    gap: 14px;

    span {
      color: $bodyLight;
      font-size: $regular15;
    }
  }

  .cover-pagination {
    display: flex;
    gap: 6px;
    font-size: $regular15;
    color: $heading;


    i {
        font-size: 20px;
    }

    .icon-arrow-group-left, .icon-arrow-group-right {
        font-size: 14px;
    }

    @media screen and (max-width: 1024px) {
      justify-content: center;
      width: 100%;

      :nth-child(2),
      :nth-child(4),
      :nth-child(5) ,
      :nth-child(8) {
        display: none;
      }

    }
  }
}
