$h4: 28px;
$h5: 20px;
$h6: 18px;
$regular15: 15px;
$regular14: 14px;
$subtitle: 12px;

$menuBar: #074e9f;
$heading: #3f434a;
$white: #ffffff;
$black: #000000;
$menuItemActive: #e6f0fc;
$bodyLight: #8a9099;
$primaryHover: #0a6ee1;
$bg: #f8f8f8;
$border: #e8e9eb;
