@import "../../styles/variable";

.wrap-search {
  width: 100%;
  background-color: $white;
  border-radius: 14px;
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid #e8e9eb;
  padding: 0px 4px;

  input {
    width: 100%;
    border: none;
    border-radius: 14px;
    height: 100%;
    padding: 0px 8px;
    color: $heading;
    font-size: 18px;

    @media screen and (max-width: 1024px) {
      padding-left: 8px;
    }

    &::placeholder {
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }
  }

  i {
    // position: absolute;
    background-color: #fff;
    font-size: 20px;
  }

  .i-search {
    left: 15px;
    color: $bodyLight;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .i-close {
    right: 50px;
    color: $heading;
    // margin-left: 5px;
    cursor: pointer;
  }

  .i-filter {
    right: 15px;
    color: $heading;
    // margin-left: 5px;
    cursor: pointer;
  }
}
